.menuCommands
  position: fixed
  background-color: #000
  height: 100%
  width: 100%
  transition: top 400ms ease
  &__close
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    &_img
  &__list
    color: var(--text_color)