.balanceCard_box
  display: flex
  justify-content: space-between
  align-items: center
  background-color: var(--component_bg_color)
  border: 1px solid var(--component_stroke_color)
  border-radius: 20px
  width: 80vw
  padding: 10px 15px
  color: var(--text_color)
  &__text
    font-size: 18px
    margin-right: 5px
  &__balance
    font-weight: 700
    &_big
      font-size: 32px
    &_small
      font-size: 20px