.mainMenuButton
  display: flex
  align-items: center
  width: 46%
  //background-color: var(--component_bg_color)
  //border-radius: 20px
  //border: 1px solid var(--component_stroke_color)
  //color: var(--text_color)
  //margin: 5px
  padding: 15px
  cursor: pointer
  &__icon
    display: flex
    align-items: center
    margin-right: 10px
  &__text
    display: flex
    align-items: center