.bigCard
  position: fixed
  display: flex
  justify-content: center
  top: 0
  width: 100vw
  overflow-y: auto
  overflow-x: hidden
  background-color: var(--main-bg-color)
  z-index: 100
  transition: left 200ms ease
  height: 100vh
  scrollbar-width: none
  color: var(--text-color)
  &__content
    width: 95%
    &__favorite
      position: absolute
      top: 0
      right: 0
      padding: 10px 15px
      cursor: pointer
      &_img
        width: 30px
    &__arrow
      height: 40px
    &__info
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
      border-bottom: 1px solid var(--big-card-color)
      padding-bottom: 15px
      margin-block: 15px
      &__photo
        width: 50%
        &_img
          border-radius: 20px
          width: 100%
      &__name
        display: flex
        align-items: center
        margin-block: 15px
        &_text
          font-size: 24px
          font-weight: 600
          line-height: 1.2
        &_verified
          padding-top: 5px
          margin-left: 5px
          &_img
            width: 20px
      &__address
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        cursor: pointer
        &__text
          width: 80%
          overflow-wrap: break-word
          text-align: center
          font-weight: 600
    &__portfolio
      color: var(--text-color)
      &__box
        &__cards
          &__content
      &__card
        display: flex
        justify-content: flex-start
        align-items: center
        width: 100%
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 1px solid var(--big-card-color)
        &__percent
          width: 25%
        &__coinIcon
          border-radius: 50px
          overflow: hidden
          display: flex
          justify-content: center
          align-items: center
          width: 25px
          height: 25px
          margin-right: 8px
          background-color: var(--active-color)
          &_img
            height: 25px
        &__coin
          width: 28%
        &__amount
          margin-left: auto
          width: 32%
      &__button
        height: 50px
        width: 100%
        &_box
          padding-inline: 16px
          margin-bottom: 15px
          &__listButton
            position: absolute
            bottom: 80px
            width: 91%
            height: 150px
            display: flex
            justify-content: center
            align-items: flex-end

.nameDialog
  &__content
    padding: 18px
    width: 80vw
    background-color: var(--whales-comp-bg-color)
    border-radius: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    color: var(--text-color)
    &__title
      cursor: default
      display: flex
      justify-content: center
      align-items: center
      padding: 18px
      border-bottom: 1px solid var(--big-card-color)
      width: 100%
      &_text
        text-align: center
        font-size: 20px
        font-weight: 600
        color: var(--text-color)
    &__input
      width: 70vw
      height: 50px
      background-color: var(--main-bg-color)
      color: var(--text-color)
      border-radius: 50px
      padding-inline: 10px
      border: none
      margin: 18px
      font-size: 16px
    &__button
      width: 110px
