.noPremiumDialog
  &__content
    width: 90vw
    border-radius: 20px
    background-color: var(--whales-comp-bg-color)
    color: var(--text-color)
    &__title
      display: flex
      justify-content: center
      align-items: center
      padding: 18px
      border-bottom: 1px solid var(--no-premium-dialog)
      &_text
        text-align: center
        font-size: 20px
        font-weight: 600
    &__question
      display: flex
      justify-content: center
      padding: 18px
      &_text
        text-align: center
        font-size: 14px
    &__buttons
      display: flex
      justify-content: center
      padding-bottom: 18px
      &__button
        width: 110px