@import './shared/reset.css';

*
{
    -webkit-tap-highlight-color: transparent; /*это чтобы не было синего выделения при нажатии*/
}
html {
    scroll-behavior: smooth;
    background-color: var(--tg-theme-bg-color);
}

body{
    color: var(--tg-theme-text-color);
}
body::-webkit-scrollbar {
    display: none;
}

/*======================Custom Styles=====================*/
.mdc-tab__text-label {
    color: var(--tg-theme-hint-color) !important;
    font-size: 12px !important;
}

.mdc-tab--active .mdc-tab__text-label {
    color: var(--tg-theme-text-color) !important;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-color: var(--tg-theme-button-color) !important;
}

.mdc-tab .mdc-tab__ripple::before, .mdc-tab .mdc-tab__ripple::after, .mdc-tab:focus {
    background-color: var(--tg-theme-button-color) !important;
}