@import "./shared/reset.css";

* {
  -webkit-tap-highlight-color: transparent; /*это чтобы не было синего выделения при нажатии*/
}
html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #000;
}

body::-webkit-scrollbar {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

img {
  -webkit-transform: translate3d(0, 0, 0);
}

:root {
  --bg_color: var(--tg-theme-bg-color);
  --secondary_bg_color: var(--tg-theme-secondary-bg-color);

  --header_bg_color: var(--tg-theme-header-bg-color);
  --section_bg_color: var(--tg-theme-section-bg-color);

  /*--text_color: var(--tg-theme-text-color);*/
  --hint_color: var(--tg-theme-hint-color);
  --link_color: var(--tg-theme-link-color);

  --button_color: var(--tg-theme-button-color);
  --button_text_color: var(--tg-theme-button-text-color);

  --accent_text_color: var(--tg-theme-accent-text-color);
  --section_header_text_color: var(--tg-theme-section-header-text-color);
  --subtitle_text_color: var(--tg-theme-subtitle-text-color);
  --destructive_text_color: var(--tg-theme-destructive-text-color);

  /*--bg_color: #000;*/
  /*--button_text_color: #fff*/
  --text_color: #fff;
  --text-light: rgb( 170, 170, 170);
  --component_bg_color: rgba(25, 25, 25, 0.9);
  --component_stroke_color: rgba(255, 255, 255, 0.2);
  --component_stroke_color_light: rgba(255, 255, 255, 0.5);
  --menu_button_color: rgba(108, 108, 108, 0.35);
}

.gray {
  filter: grayscale(100%);
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
