@import './shared/reset.css';

*
{
    -webkit-tap-highlight-color: transparent; /*это чтобы не было синего выделения при нажатии*/
}
html {
    scroll-behavior: smooth;
    background-color: var(--tg-theme-bg-color);
}

body{
    color: var(--tg-theme-text-color);
}
body::-webkit-scrollbar {
    display: none;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

img {
    -webkit-transform: translate3d(0,0,0)
}