.coinCard
  display: flex
  flex-direction: column
  align-items: center
  cursor: pointer
  filter: unset
  max-width: 20%
  &__button
    color: var(--button-text-color)
    margin-top: 20px
    padding: 10px 12px
    border-radius: 30px
    cursor: default
    font-size: 13px
    transition: background-color 0.3s ease
